main {
  border: none;
}

.formco {
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 40vw;
  margin: 50px auto;
  height: 70vh;

  .form {
    display: flex;
    margin-top: 3rem;
    border: none;
    border-bottom: solid pink;
  }
}
.formco input {
  width: 50%;
  border-bottom: solid pink;
  margin-bottom: 50px;
  height: 60px;
  border-radius: 3px;
}
.subm {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: medium;
  background-color: #09aeb7;
}
.submitbut {
  height: 4rem;
  width: 8rem;
  margin-right: 11rem;
  margin-top: 3rem;
}
.submitbut input {
  background-color: #09aeb7;
  width: 280%;

  margin-right: -40px;
  margin-left: -20px;
  border-radius: 3px;
  height: 50px;
  display: flex;
  justify-content: center;
}
