main {
  border: none;
}

.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 40vw;
  margin: 50px auto;
  height: 70vh;
  border: none;
}
.signup-container input {
  width: 50%;
  border-bottom: solid 2px pink;
}
.checkbox {
  display: flex;
  span {
    margin-left: -10rem;
    font-size: larger;
  }
}
.inscription {
  margin: 1rem 10rem;
}
.subsign {
  height: 50px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  font-size: medium;
}
@media (max-with: 1100px) {
  .checkbox {
    margin-bottom: 25rem;

    background-color: brown;
  }
}
