::placeholder {
  color: #d8d8d9;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: 0px;
  padding: 10px 0px;

  /* display: flex;
  flex-direction: row;
  border-bottom: solid black;
  justify-content: space-between; */
}

/* .recherche {
  width: 590px;
  height: 37px;

  border: none;
  background-color: #f5f6f7;
  padding-left: 40px;
  outline: none;
  font-size: 16px;
} */

/* grande photo */
containertop {
  width: 100rem;
  height: 454px;
  margin-bottom: 20%;
}
.annonce img {
  height: 369px;
  width: 320px;
  object-fit: cover;
  /* display: flex; */
}
/* main */
main {
  display: flex;
  flex-wrap: wrap;
  width: 1720px;
  border: solid black;
}
.annonce {
  height: 470px;
  margin-right: 20px;
  margin-bottom: 10px;

  /* width: 120 px; */
  /* border: solid violet 2px; */
}

form {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  border: solid red;
}

form input {
  /* background-color: aqua; */
  display: flex;
  border: none;
  height: 23px;
  width: 145px;
}
input.subsign {
  background-color: #0cadb7;
}
