header {
  display: flex;
  flex-direction: row;
  border-bottom: solid black;
  justify-content: space-between;
}

.recherche {
  width: 600px;
}

/* grande photo */
containertop {
  width: 100rem;
  height: 454px;
  margin-bottom: 20%;
}
.annonce img {
  height: 369px;
  width: 320px;
  object-fit: cover;
  /* display: flex; */
}
main {
  display: flex;
  flex-wrap: wrap;
  width: 1720px;

  /* flex-direction: row; */
  border: solid black;
  /* margin: 60px auto; */
  /* width: calc(100% / 5 - 9.6px); */
}
.annonce {
  height: 470px;
  margin-right: 20px;
  margin-bottom: 10px;

  /* width: 120 px; */
  border: solid violet 2px;
}
